@import "fuentes";
@import "generales";
@import "resoluciones";

.textoSubtitulo{
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Titulo{
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
}

.subrayado{
    text-decoration: underline;
    color: cyan;
}

@mixin noticiasConfig ($padding, $margin, $border-radius, $border){
    padding: $padding;
    margin: $margin;
    border-radius: $border-radius;
    border: $border;
}

.noticiasMixin{
    @include noticiasConfig(20px, 25px 40px 25px 40px, 10px, 5px solid white);
}

@mixin articleYTexto ($colorArt, $colorTex){
    color: $colorArt;
    color: $colorTex;
}

article, .textoSecciones{
    @include articleYTexto(white, white);
}